<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>乌江画廊</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/indexDecoration.css">


</head>
<body class="mainpage">

<!--二维码-->
<div class="codepic-ul clearfix">
    <div class="codepic contain">
        <img src="../img/code-wx.png" alt="" class="code-img">
        <div class="word">官方微信</div>
    </div>
    <div class="codepic contain">
        <img src="../img/code-wx.png" alt="" class="code-img">
        <div class="word">官方微博</div>
    </div>
    <div class="codepic contain">
        <img src="../img/code-wx.png" alt="" class="code-img">
        <div class="word">语音导游</div>
    </div>
</div>

    <div class="row">


        <img id="leftpic" src="../img/leftpic.png">

        <img id="righttoppic" src="../img/righttoppic.png">

        <img id="rightbottompic" src="../img/rightbottompic.png">


        <div class="container right-block ">

            <ul id="navigation" class="list-group">
                <li class="list-active list-group-item">
                    <a class="navli" id="link-home" href="#home">
                        <div class="tab-cn-active">主 页</div>
                        <div class="tab-en-active">HOME</div>
                    </a>
                </li>
                <li class="headlist list-group-item">
                    <a  class="navli" id="link-introduction" href="IntroPage/intro/intro.html">
                        <div class="tab-cn">景区介绍</div>
                        <div class="tab-en">Scenic Introduction</div>
                    </a>
                </li>
                <li  class="headlist list-group-item">
                    <a class="navli" id="link-geography" href="#geography">
                        <div class="tab-cn">地理文化</div>
                        <div class="tab-en">Geographical Culture</div>
                    </a>
                </li>
                <li class="headlist list-group-item">
                    <a class="navli" id="link-tourism" href="#tourism">
                        <div class="tab-cn">旅游服务</div>
                        <div class="tab-en">Travel Service</div>
                    </a>
                </li>
                <li class="headlist list-group-item">
                    <a class="navli" id="link-scene" href="#scene">
                        <div class="tab-cn">3D实景漫游</div>
                        <div class="tab-en">3D Real Roaming</div>
                    </a>
                </li>
                <li class="headlist list-group-item">
                    <a class="navli" id="link-consult" href="#consult">
                        <div class="tab-cn">咨询投诉</div>
                        <div class="tab-en">Advisory Complaints</div>
                    </a>
                </li>
                    <div class="lang clearfix">
                        <div id="left-lang" class="lang-active lang-item">中文</div>
                        <div id="right-lang" class="lang-item">
                            <a href="index_en.html">
                                English
                            </a>
                        </div>
                    </div>

            </ul>



        </div>



    </div>

    <div class="copyright"> &copy; 版权所有 未经允许，不得轻易抄袭</div>



<script src="../lib/jquery/dist/jquery.min.js"></script>

</body>
</html>